<div class="well">
  <h1>Your Favorite Tracks</h1>

  <% if @favorites %>
    <% @favorites.each do |fav| %>
    <li><%= fav.track %> - <%= link_to fav.url, fav.url %></li>
    <% end %>
  <% else %>
    <h5>You don't have any favorite tracks.</h5>
  <% end %>
</div>