<div class="well about">
  <h1>The Finale Mission</h1>
  <div class="row-fluid">
    <div class="span4 slogan">
      <p>“One good thing about music, when it hits you, you feel no pain.”</p>
      <p class="author">― Bob Marley</p>
    </div>
    <div class="span8 about-game">
      <p>What genre of music do you like? My personal favorites are Electronic, Trance and House. Though I spend the majority of my time on these genres, I enjoy exploring music in all kinds.</p>

      <p>This is my first hacking project in Web Development Immersive at General Assembly. I wanted to build a game for everyone to explore new music while having fun, and The Finale was born!</p>

      <p>This site is built with Ruby on Rails, Coffee Script, and Soundcloud API.</p>

      <p>I hope you enjoy the game and appreciate music created by anyone.</p>
    </div>
  </div>
</div>