<div class="well center">
  <h1>Congrats, you've finished The Finale with <%= @game.points %> points!</h1>
  <br>
  <%= link_to "Start a New Game", "/level/1", class: "btn btn-warning btn-large" %>
  <br><br>
  <p><%= link_to "Checkout Top Scores", scoreboard_path %></p>
</div>