<div class="well center home">
  <h1>Explore the Beauty of Originally-Created Sounds</h1>
  <h2>A Game with Latest Tracks, 20 Levels, 15 Points Each</h2>

  <div class="home-button">
    <% if user_signed_in? %>
      <%= link_to "Start Game", "/level/1", class: "btn btn-warning btn-large" %>
    <% else %>
      <%= link_to "Signup to Play Now!", new_user_registration_path, class: "btn btn-warning btn-large" %>
    <% end %>
  </div>
</div>