<div class="well">
  <h1>Congrats, you've finished the game with points!</h1>

  <%= link_to "Restart Game", root_path %>
  <br>
  <%= link_to "Check out scoreboard of all players", scoreboard_path %>
</div>