<div class="well">
  <h1>Top 20 Leaders @ The Finale</h1>
  <div class="scoreboard">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Points</td>
          <td>Player</td>
          <td>Date</td>
        </tr>
      </thead>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.points %> Points</td>
          <td><%= game.user.username %></td>
          <td><%= time_ago_in_words(game.updated_at) %> ago</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>