<div class="well">
  <h1>Top 20 Leaders @ The Finale</h1>
  <div class="scoreboard">
    <ol>
      <% @games.each do |game| %>
        <li><%= game.points %> Points - <%= game.user.username %> - <%= time_ago_in_words(game.updated_at) %> ago</li>
      <% end %>
    </ol>
  </div>
</div>