// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Universal
body {
  background-image: url('bg.jpg');
  background-size: cover;
}

nav {
  font-size: 1.4em;
  margin-top: 15px;
  margin-bottom: 20px;
  a {
    color: #f39c12;
    text-decoration: none;
    &:hover {
      color: #f1c40f;
    }
  }
  ul {
    margin-top: 10px;
    list-style: none;
    li {
      float: left;
      padding-right: 18px;
      padding-left: 18px;
      border-right: 1px solid #fff;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}

.brand {
  color: #fff;
  font-size: 1.6em;
  font-weight: 700;
  letter-spacing: -1px;
  &:hover {
    color: #fff;
  }
}

// Utility
.well {
}

.center {
  text-align: center;
}

// Gaming
.title {
  float: left;
  margin-top: -8px;
  margin-bottom: 10px;
}

.points {
  float: right;
  cursor: default;
}

ul#answers {
  list-style: none;
  text-align: center;
  margin-top: 12px;
  li {
    display: inline-block;
    margin-right: 20px;
  }
}

.ans {
  font-size: 1.4em;
  color: #fff ;
  margin-bottom: 20px;
  padding: 10px;
  &.corrans {
    background-color: #FE2E64;
    .corrans-highlight {
      color: #B8BED3;
    }
  }
  &.incorrans {
    background-color: #6E6E6E;
    .incorrans-highlight {
      color: #71C5FC;
    }
  }
}