// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Universal
html {
    position: relative;
    min-height: 100%;
}

body {
  margin: 0 0 20px; /* bottom = footer height */
  background-image: url('bg.jpg');
  background-size: round auto; /* Height: auto is to keep aspect ratio */
  background-repeat: repeat;
}

nav {
  font-size: 1.6em;
  margin-top: 14px;
  margin-bottom: 20px;
  font-family: 'Pathway Gothic One', sans-serif;
  a {
    color: #f39c12;
    text-decoration: none;
    &:hover {
      color: #f1c40f;
    }
  }
  ul {
    margin-top: 16px;
    list-style: none;
    li {
      float: left;
      padding-right: 18px;
      padding-left: 18px;
      border-right: 1px solid #fff;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}

.brand {
  color: #fff;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 1.6em;
  font-weight: 700;
  letter-spacing: -1px;
  &:hover {
    color: #fff;
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  font-size: 0.7em;
  color: #A4A4A4;
  text-align: center;
  background-color:rgba(255,0,0,0);
}

// Utility
.well {
}

.center {
  text-align: center;
}

h1 {
  color: #2980B9;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Pathway Gothic One', sans-serif;
}

// Customized Flat UI or Bootstrap
.btn-fav {
  background-color: #f72548;
  &:hover, &:focus {
    background-color: #F55670;
  }
  &:active {
    background-color: #f72548;
  }
}

.btn-points {
  background-color: #2C3E50;
  cursor: default;
  &:hover, &:focus {
    background-color: #2C3E50;
  }
  &:active {
    background-color: #2C3E50;
  }
}

.favorites > .span4 {
  margin: 10px auto;
  &:nth-child(3n+1) {
    margin-left:0;
  }
}

// Gaming
.game-level {
  width: 300px;
  float: left;
  margin-top: -8px;
  margin-bottom: 10px;
}

.top-right {
  float: right;
  width: 210px;
}

.song-title {
  font-family: 'Carrois Gothic SC', sans-serif;
}

.fav {
  float: right;
}

.points {
  float: left;
  margin-top: -20px;
}

ul#answers {
  list-style: none;
  text-align: center;
  margin-top: 12px;
  li {
    display: inline-block;
    margin-right: 20px;
  }
}

.ans {
  font-size: 1.4em;
  color: #fff ;
  margin-bottom: 20px;
  padding: 10px;
  &.corrans {
    background-color: #FE2E64;
    .corrans-highlight {
      color: #B8BED3;
    }
  }
  &.incorrans {
    background-color: #6E6E6E;
    .incorrans-highlight {
      color: #71C5FC;
    }
  }
}

// Favorites
.artwork {
  width: 30%;
  float: left;
  img {
    border: 1px solid #16A085;
  }
}

.track-info {
  width: 60%;
  float: left;
  padding-left: 14px;
  h6 {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
  }
  p {
    margin-top: 6px;
    font-size: 0.9em;
    line-height: 1em;
  }
  a {
    text-decoration: none;
  }
}

// Scoreboard
.scoreboard {
  font-size: 1.4em;
  ol li {
    line-height: 1.8em;
  }
}